/* Стилі для body */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: Regular;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
    color: #434455;
    background-color: #FFFFFF;
    margin: 0px;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

img {
    display: block;
}

/* Стилі для header */

.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 1158px;
    padding: 0 15px;
    align-items: center;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigation-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.header .logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: left;
    color: #4D5AE5;
    text-decoration: none;
    margin-right: 76px;
}

.header .span {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    color: #2E2F42;
}

.header .navigation .link {
    display: block;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
    color: #2E2F42;
    padding: 24px 0;
}

.header .navigation-ul .special {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .navigation-ul .special::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    content: "";
    width: 100%;
    background-color: #404BBF;
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .navigation .link:hover {
    color: #404BBF;
}

.header .navigation .link:focus {
    color: #404BBF;
}

.header .navigation .link:active {
    color: #404bbf;
}

.address {
    font-style: normal;
    margin-left: 332px;
}

.address-ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    margin: auto 0;
}

.link-address {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
    color: #434455;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-address:hover {
    color: #404BBF;
}


.link-address:focus {
    color: #404bbf;
}

/* Стилі для first-section */

.first-section {
    margin: 0 auto;
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    max-width: 1440px;
    padding: 188px 0;
}

.main-title {
    max-width: 496px;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    display: block;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #4D5AE5;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px #00000026;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

/* Стилі для second-section */

.second-section {
    padding: 120px 0;
    justify-content: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin: 0 auto;
}

.features-li {
    flex-basis: calc((100% - 72px) / 4);
}

.second-section-svg {
    display: flex;
    width: 264px;
    height: 112px;
    gap: 0px;
    border-radius: 4px;
    opacity: 0px;
    justify-content: center;
    align-items: center;
    background-color: #F4F4FD;
    border: 1px solid #8E8F99;
    margin-bottom: 8px;
}

.second-section .features .title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2e2f42;
    margin-bottom: 8px;
}

.second-section .features .paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}

/* Стилі для third-section */

.third-section {
    background-color: #F4F4FD;
    padding: 120px 0;
    justify-content: center;
}

.third-section-main-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.our-team {
    display: flex;
    flex-direction: row;
    gap: 24px;
    border-radius: 0px 0px 4px 4px;
}

.our-team-li {
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.our-team-li-div {
    display: flex;
    flex-direction: column;
    padding: 32px 0;
    align-items: center;
}

.our-team .title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.our-team .paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.messanger {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    gap: 24px;
    justify-content: center;
}

.messanger-li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    width: 100%;
    height: 100%;
}

.messanger-a {
    display: flex;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.messanger-a:hover {
    background-color: #404bbf;
    cursor: pointer;
    fill: #404BBF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.messanger-a:focus {
    background-color: #404bbf;
    cursor: pointer;
    fill: #404BBF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.messanger-a:active {
    background-color: #404bbf;
    cursor: pointer;
    fill: #404BBF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.message-icon {
    fill: #f4f4fd;
}

/* Стилі для fourth-section */

.fourth-section {
    padding: 120px 0 120px 0;
    justify-content: center;
}

.fourth-section-main-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.app-ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    justify-content: center;
}

.app-li {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: calc((100% - 48px) / 3);
    position: relative;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.app-li:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}

.app-div {
    position: relative;
    z-index: 1;
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    background-color: #FFFFFF;
}

.fourth-section .title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2e2f42;
    margin-bottom: 8px;
}

.fourth-section .paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}

.overlay {
    position: relative;
    overflow: hidden;
}

.overlay-p {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-align: left;
    color: #F4F4FD;
    padding: 40px 32px;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.app-li:hover .overlay-p {
    transform: translateY(0);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* Стилі для footer */

.footer {
    background-color: #2E2F42;
    padding: 100px 0;
    justify-content: center;
}

.footer .container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    align-items: baseline;
}

.footer-logo-and-p {
    display: flex;
    flex-direction: column;
    margin-right: 120px;
}

.footer .logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    color: #4D5AE5;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.footer .span {
    color: #F4F4FD;
}

.footer .paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #F4F4FD;
    max-width: 264px;
}

.social-link-p {
    font-weight: 500;
    letter-spacing: 0.02em;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.social-link .messanger {
    gap: 16px;
    margin-top: 0px;
}

.footer .messanger-li {
    height: 40px;
    width: 40px;
    width: 100%;
    height: 100%;
}

.footer .messanger-a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .messanger-a:hover {
    background-color: #31d0aa;
    cursor: pointer;
    fill: #31d0aa;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .messanger-a:focus {
    background-color: #31d0aa;
    cursor: pointer;
    fill: #31d0aa;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .messanger-a:active {
    background-color: #31d0aa;
    cursor: pointer;
    fill: #31d0aa;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .message-icon {
    fill: #f4f4fd;
}

/* Стилі для FORM */

.modal-overflow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 999;
    opacity: 0;
    pointer-events: none;
}

.modal-overflow.is-open {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
    gap: 24px;
}

.close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.close-button:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.form-div {
    margin-bottom: 8px
}

.form-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.input-div {
    position: relative;
}

.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;  
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover {
    border-color: #4D5AE5;
}

.form-input:focus {
    border-color: #4D5AE5;
}

.form-input:checked {
    background-color: #404bbf;
    border: none;
    fill:#F4F4FD;
}

.form-input:focus+svg {
    fill: #4D5AE5;
}

.input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon:focus {
    fill: #4D5AE5;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment-div {
    margin-bottom: 16px;
}

.form-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:hover {
    border-color: #4D5AE5;
}

.form-textarea:focus {
    border-color: #4D5AE5;
}

.form-checkbox-div {
    margin-bottom: 24px;
}

.form-user-privacy-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.form-span {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
    fill: transparent;
}

input:checked + label > span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.form-a {
    color: #4d5ae5;
}

.form-button {
    display: block;
    min-width: 169px;
    height: 56px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 4px 4px 0px #00000026;
    border-radius: 4px;
    margin: 0px auto;
}

.form-button:hover {
    background-color: #404BBF;
}

.form-button:focus {
    background-color: #404BBF;
}

/* Стилі для SUBSCRIBE FORM */

.subscribe-form-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;   
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-left: 80px;
}

.subscribe-form {
    display: flex;
    gap: 24px;
    margin-left: 80px;
}

.subscribe-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.subscribe-form-div::placeholder {
    color: #ffffff;
}

.subscribe-button {
    display: flex;
    min-width: 165px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;  
    border-radius: 4px;
}

.subscribe-button:hover {
    background-color: #404BBF;
}

.subscribe-button:focus {
    background-color: #404BBF;
}

.subscribe-svg {
    margin-left: 16px;
}