/* Стилі для footer */

.footer {
    background-color: #2E2F42;
    padding: 100px 0;
    justify-content: center;
}

.footer .container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    align-items: baseline;
}

.footer-logo-and-p {
    display: flex;
    flex-direction: column;
    margin-right: 120px;
}

.footer .logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    color: #4D5AE5;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.footer .span {
    color: #F4F4FD;
}

.footer .paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #F4F4FD;
    max-width: 264px;
}

.social-link-p {
    font-weight: 500;
    letter-spacing: 0.02em;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.social-link .messanger {
    gap: 16px;
    margin-top: 0px;
}

.footer .messanger-li {
    height: 40px;
    width: 40px;
    width: 100%;
    height: 100%;
}

.footer .messanger-a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .messanger-a:hover {
    background-color: #31d0aa;
    cursor: pointer;
    fill: #31d0aa;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .messanger-a:focus {
    background-color: #31d0aa;
    cursor: pointer;
    fill: #31d0aa;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .messanger-a:active {
    background-color: #31d0aa;
    cursor: pointer;
    fill: #31d0aa;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .message-icon {
    fill: #f4f4fd;
}

/* Стилі для FORM */

.modal-overflow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 999;
    opacity: 0;
    pointer-events: none;
}

.modal-overflow.is-open {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
    gap: 24px;
}

.close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.close-button:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.form-div {
    margin-bottom: 8px
}

.form-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.input-div {
    position: relative;
}

.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;  
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover {
    border-color: #4D5AE5;
}

.form-input:focus {
    border-color: #4D5AE5;
}

.form-input:checked {
    background-color: #404bbf;
    border: none;
    fill:#F4F4FD;
}

.form-input:focus+svg {
    fill: #4D5AE5;
}

.input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon:focus {
    fill: #4D5AE5;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment-div {
    margin-bottom: 16px;
}

.form-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:hover {
    border-color: #4D5AE5;
}

.form-textarea:focus {
    border-color: #4D5AE5;
}

.form-checkbox-div {
    margin-bottom: 24px;
}

.form-user-privacy-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.form-span {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
    fill: transparent;
}

input:checked + label > span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.form-a {
    color: #4d5ae5;
}

.form-button {
    display: block;
    min-width: 169px;
    height: 56px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 4px 4px 0px #00000026;
    border-radius: 4px;
    margin: 0px auto;
}

.form-button:hover {
    background-color: #404BBF;
}

.form-button:focus {
    background-color: #404BBF;
}

/* Стилі для SUBSCRIBE FORM */

.subscribe-form-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;   
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-left: 80px;
}

.subscribe-form {
    display: flex;
    gap: 24px;
    margin-left: 80px;
}

.subscribe-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.subscribe-form-div::placeholder {
    color: #ffffff;
}

.subscribe-button {
    display: flex;
    min-width: 165px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;  
    border-radius: 4px;
}

.subscribe-button:hover {
    background-color: #404BBF;
}

.subscribe-button:focus {
    background-color: #404BBF;
}

.subscribe-svg {
    margin-left: 16px;
}